
form [data-Ramya="Venu"]{
border: 2px solid #0f0;
}

form{
border: 2px solid #ff0000;
}


#reset{
 color: #ff0000
}

#reset{
 background-color: #f00;
 color: #f00;
 border-color: #000
}

#email{
 color: #ff0000
}

button[type="submit"]{
color: #0000ff;
}

#text, #email{
background-color: #0f0;
border-color: #000;
}

#email{
 border-radius: 10px;
}

