/*
form [data-Ramya="Venu"]{
border: 2px solid #0f0;
}

form{
border: 3px solid #ff0000;
}


#reset{
 color: #ff0000
}

#reset{
 background-color: #f00;
 color: #f00;
 border-color: #000
}

#email{
 color: #ff0000
}

button[type="submit"]{
color: #0000ff;
}

#text, #email{
background-color: #0f0;
border-color: #000;
}


#email{
 border-radius: 10px;
}
/*
#input[name="Password"]{
 background-color: #f0f
}
*/

input:focus{
border: 3px solid #0f0;
background: #000;
color: #fff;

}
form[name="New license form"]{
    display: block;
    border: 2px solid #00f;
    width: 300px;
    margin-left: auto;
    margin-right: auto;

}
div{
 margin: 10px 0px 0px 20px;
 display: inline-block;
}

label{
 display: block;
 padding: 10px 0px;
}

ul{
 list-style-type: none;
}
#submit{
background: #6bfb74;
border: 1px solid #a460ed;
border-radius: 4px;
color: #fff;
margin: 20px;
padding: 5px;
}
#submit:hover{
 border: 2px solid #c50d5c;
 background: #8e54fe;
 cursor: pointer;


}

#reset{
background: #f00;
border: 1px solid #a460ed;
border-radius: 4px;
color: #fff;
margin: 20px;
padding: 5px;
}

#reset:hover{
 border: 3px solid #000;
 background:#8026e7;
 cursor:pointer;
}

li{
 display: inline;
 margin: 0px 10px;
}

ul li:nth-child(4){
  background:#bbb;
 /*float: right;*/
/* position:fixed;*/
}

div + p{
 background:#00f;
}



